[submodule "libffi"]
	path = libffi
	url = https://github.com/libffi/libffi.git
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "libxslt"]
	path = libxslt
	url = https://gitlab.gnome.org/GNOME/libxslt.git
[submodule "libheif"]
	path = libheif
	url = https://github.com/strukturag/libheif.git
[submodule "geos"]
	path = geos
	url = https://git.osgeo.org/gitea/geos/geos.git
